/* New class for the link wrapping the card */
.project-card-link {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits the text color from parent elements */
  cursor: pointer;
  background-color: #ffaf00;
}

.project-card {
  flex: 1;
  min-width: 300px;
  max-width: 350px;
  height: fit-content;
  overflow: hidden;
  transition: transform 0.3s ease; /* Optional: Adds a subtle scaling effect on hover */
  margin-bottom: 20px;
  background: rgba( 25, 25, 25, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.project-card.wide {
  grid-column: span 2; /* Wide cards span two columns */
}

.project-card.tall {
  grid-row: span 1; /* Tall cards span two rows */
}

.project-card:hover {
  transform: scale(1.03); /* Slightly enlarges the card on hover */
}

.project-thumbnail {
  width: 100%;
  object-fit: cover;
}

.project-info {
  padding: 5px;
}

.project-info h3 {
  font-family: "Livvic", sans-serif;
  color: #ffaf00;
}

.project-info p {
  color: #f4ddb5;
}