.hero {
    background-color: #011329;
    background-image: url('./LeftSpace.png'), url('./rightSpace.png');
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain; /* Adjust as needed */
    color: #ffaf00;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the hero section */
  }
  
  .hero-title {
    font-family: "Livvic SemiBold";
    font-size: 4rem; /* Large, attention-grabbing size */
    margin-bottom: 10px;
  }

.turqiose {
    color: #3c7f72;
}

.yellow {
    color: #ffaf00;
}

.horizontal-line {
    height: 1px; /* Adjust the thickness of the line */
    width: 30%; /* Adjust the width as needed */
    margin: 10px 0px; /* Add some space above and below the line */
    align-self:auto; /* Aligns the line to the left */
  }


  .hero-subtitle {
    font-family: 'Yellowtail';
    font-size: 1.5rem;
    overflow: hidden; /* Ensures the content area size doesn't change */
    border-right: .15em solid #ffffff; /* Simulates the typewriter cursor */
    width: auto; /* Restrict width to content size */
    margin: 0 auto; /* Center the subtitle */
    animation: typing 2.8s steps(21, end) forwards, blink-caret 1.0s step-end infinite;
    white-space: nowrap; /* Prevent subtitle from wrapping */
    color: #f4ddb5;
  }


  
 
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    50% { border-color: transparent; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #ffaf00; }
  }