.wrapper {
    display: flex;
    justify-content: center;
}

.spherical-info {
    color: #f4ddb5;
    
}
.spherical-info h1 {
    font-family: "Livvic", sans-serif;
    color: #ffaf00;
}


.viewer-container {
    height: 500px;
    width: 1000px;
}