.card {
    background: #011329 ;
    color: #f4ddb5;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid #ffaf00; /* White border for the 8-bit effect */
  }
  
  .card-title {
    margin: 0 0 10px 0;
    text-align: center;
    color: #ffaf00;
    font-family: 'Audiowide', cursive;
  }
  
  .card-content {
    /* Additional content styles */
    font-family: 'VT323', monospace; /* or your preferred body font */
  }