.card {
    background: linear-gradient(135deg, #0000ff 0%, #ff69b4 100%);
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid #fff; /* White border for the 8-bit effect */
  }
  
  .card-title {
    margin: 0 0 10px 0;
    text-align: center;
    font-family: 'Audiowide', cursive;
  }
  
  .card-content {
    /* Additional content styles */
    font-family: 'VT323', monospace; /* or your preferred body font */

  }