.projects-wrapper {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure it takes the full width */
}

.projects-container {  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 760px; /* Or any max-width that suits your design */
  margin: 0 auto; /* Center the grid within the wrapper */
}
@keyframes color-change {
  0% { color: #ffaf00; }
  25% { color: #d34b24; }
  50% { color: #992800; }
  75% { color: #3c7f72; }
  100% { color: #ffaf00; }
}

.projects-title {
  padding-top: 20px;
  font-family: "Livvic", sans-serif;
  color: #ffaf00;
  font-size: 30px;
  animation: color-change 2.0s infinite;
}



@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr; /* Single column layout for mobile */
    max-width: 100%; /* Allow the grid to take full width on smaller screens */
  }
}