.projectsBackground {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.dunking-astronaut {
  position: absolute; 
  top: 20%; 
  right: 42%; 
  height: 14rem;
  width: auto;
  object-fit: contain;
  animation: float 3s ease-in-out infinite; 
  z-index: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .dunking-astronaut {
    margin-top: 1rem;
    z-index: 2;
    top: 19%; 
    right: 1%; 
    height: 12rem;
  }
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure it takes the full width */
}

.projects-container {  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 760px; /* Or any max-width that suits your design */
  margin: 0 auto; /* Center the grid within the wrapper */
}
@keyframes color-change {
  0% { color: #ffaf00; }
  25% { color: #d34b24; }
  50% { color: #ffaf00; }
  75% { color: #992800; }
  100% { color: #ffaf00; }
}

.projects-title {
  padding-top: 20px;
  font-family: "Livvic", sans-serif;
  color: #ffaf00;
  font-size: 30px;
  animation: color-change 10.0s infinite;
}

.projects-title h1 {
  z-index: 10;
  position: relative;
  text-shadow: 
  -1px -1px 0 #992800,  
   1px -1px 0 #992800,
  -1px  1px 0 #992800,
   1px  1px 0 #992800; 
}



@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr; /* Single column layout for mobile */
    max-width: 100%; /* Allow the grid to take full width on smaller screens */
  }
}