.jake-icon {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;
    align-items: center;
    font-family: "Press Start 2P", system-ui;
    outline-color: #011329;
    outline-style: auto;
    outline-offset: 7px;
  }
  
  .letter {
    font-size: 1.1rem; /* Adjust size as needed */
    font-weight: bold;
    text-align: center;
    color: #011329
  }