.header {
  display: flex;
  justify-content: center; /* Center the container */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffaf00; /* or any other color that fits the theme */
  font-family: "Livvic", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Set a max width */
  margin: 0 auto; /* Center the container */
}

.logo {
  font-family: "Chakra Petch", sans-serif;
  margin-left: 5%;
}

.logo h1 {
  white-space: nowrap; /* Prevents text wrapping */
  color: #3c7f72; /* Your chosen text color */
  font-size: 1.5rem; /* Adjust font size as needed */
}


.menu-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 20px; /* Add some space between the button and the navigation links */
  color: #011329;
  margin-right: 5%;
}

.nav {
  display: none;
}

.nav.open {
  display: block;
  position: absolute; /* Adjust the position if needed */
  top: 100%; /* Place it right below the header */
  left: 0;
  right: 0;
  background-color: #011329; /* Match header background */
}


.nav-links a {
  text-decoration: none;
  color: #011329; /* Adjust for better visibility */
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #0277bd; /* Material blue */
}

.nav-links {
  display: flex; /* This will align items horizontally */
  flex-direction: row; /* Align items in a row for desktop */
  justify-content: center; /* Center the links if there's extra space */
  align-items: center; /* Vertically align links in the middle */
  padding: 0;
  margin: 0;
  margin-right: 5%;
  list-style: none;
}

.nav-links li {
  padding: 0 15px; /* Add horizontal padding for spacing between links */
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column; /* Stack links vertically on mobile */
  }

  .nav-links li {
    padding: 10px 0; /* Add vertical padding for spacing between links on mobile */
  }
}