body {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace; /* default body font */
  background-color: #011329; /* example background color */
  color: #ffffff; /* default text color */
}

.app {
  text-align: center; /* Ensures everything is centered */
}

.main-content {
  max-width: 1200px; /* Same max-width as the header */
  margin: 0 auto; /* Center the content */
  /* You can also add a background color or border if you want to visually separate the content area */
}
