*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
  padding-top: 60px;
  color: #f4f4f4;
  /* Or, for a more complex background: */
  background: linear-gradient(to right, #43cea2, #185a9d); /* Example: gradient background */
}

/* ... other global styles ... */
